html > * {
	margin: 0;
	padding: 0;
	font-size: 3vmin;
}

body * {
	font-size: 0;
	font-family: Arial;
	font-weight: bold;
}

body {
	height: 90vw;
	width: 80vw;
	margin: 0 auto;
	/*border: 1px solid gold;*/
	box-sizing: border-box;
}

.container {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	/*border: 1px dashed blue;*/
	box-sizing: border-box;
}

header {
	/*border: 1px solid green;*/
	height: 15%;
	font-size: 4.5rem;
	background-color: #000;

	color: rgb(88,192,252);
	text-align: center;
}

.main {
	height: 50%;
	width: 40%;
	/*border: 1px solid pink;*/
	margin: 0 auto;
	background-color: rgb(35,55,65);
}

.rectangular {
	/*border: 1px solid blue;*/
	height: 100%;
	width: 92%;
	margin: 5% auto;
	padding-top: 8%;
	min-width: 250px;
}

.screen {
	width: 95%;
	height: 20%;
	background-color: rgb(74,192,239);
	margin: 0 auto;
	box-sizing: border-box;
	border-top: 8px solid rgb(19, 108, 142) ;
}

.buttons {
	width: 95%;
	height: 70%;
	margin: 0 auto;
	font-size: 0;
}

.button_set1 {
	/*border: 1px dashed blue;*/
	width: 70%;
	height: 100%;
	display: inline-block;
	box-sizing: border-box;
}

.clear {
	height: 20%;
	width: 100%;
	margin-bottom: 5%;
	display: flex;
	flex-flow: row wrap;
}

.clear > button {
	font-size: 1.5rem;
	width: 45%;
	height: 70%;
	margin: 8% 5%;
	margin-left: 0;
	background-color: rgb(14,95,145);
	color: rgb(35,155,230);
}

.numbers {
	display: flex;
	flex-flow: row wrap;
	height: 80%;
}

.numbers> button {
	width: 29.3%;
	height: 20%;
	font-size: 2rem;
	font-style: bold;
	/*box-sizing: border-box;*/
	margin: 2%;
}

.operators {
	width: 30%;
	height: 95%;
	display: inline-block;
	/*border: 1px dashed green;*/
	box-sizing: border-box;
	vertical-align: top;
	margin-top: 4.3%;
}

.operators > button {
	width: 100%;
	height: 17%;
	font-size: 2rem;
	margin: 5%;
	margin-right: 0;
	background-color: rgb(130,0,49);
	color: #fff;
}

.operators > button:nth-of-type(4){
	height: 40%;
}

button {
	border: none;
}

button:hover {
	border: 3px solid rgb(65, 175, 245);	
}
